<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Destination</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <%- include('header') %>
  </head>
  <body>
    <header class="header">Edit Destination Form</header>
    <div class="py-3">
      <form
        class="layout"
        action="/destination/update/<%= destination.id %>"
        method="post"
      >
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            value="<%= destination.name %>"
          />
        </div>
        <div class="mb-3">
          <label for="type" class="form-label">Type</label>
          <input
            type="text"
            class="form-control"
            id="type"
            name="type"
            value="<%= destination.type %>"
          />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image URL</label>
          <input
            type="text"
            class="form-control"
            id="image"
            name="image"
            value="<%= destination.image %>"
          />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            value="<%= destination.price %>"
            placeholder
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Short Description</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            rows="4"
            cols="50"
            placeholder="insert short description about the place"
          >
          <%= destination.description %>
        </textarea
          >
        </div>
        <div align="center">
          <button type="submit" value="Submit" class="btn btn-primary">
            Submit
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
