<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Summary</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <%- include('header') %>
  </head>
  <body>
    <header class="header">Summary</header>
    <div class="container-fluid py-3">
      <table class="table-bordered">
        <tbody>
          <% if(summariesObj !== null){ %>
          <tr>
            <th>ID</th>
            <% if(summariesObj.tickets !== undefined){ %> <%
            summariesObj.tickets.forEach((summary) => { %>
            <td><%= summary.id %></td>
            <% }) %> <% } %>
          </tr>
          <tr>
            <th>Tourist Name</th>
            <% if(summariesObj.tourists !== undefined){ %> <%
            summariesObj.tourists.forEach((tourist) => { %>
            <td><%= tourist.name %></td>
            <% }) %> <% } %>
          </tr>
          <tr>
            <th>Destination Name</th>
            <% if(summariesObj.destinations !== undefined){ %> <%
            summariesObj.destinations.forEach((destination) => { %>
            <td><%= destination.name %></td>
            <% }) %>
          </tr>
          <tr>
            <th>Destination Photo</th>
            <% summariesObj.destinations.forEach((destination) => { %>
            <td><img class="card-img" src="<%= destination.image %>" /></td>
            <% }) %> <% } %>
          </tr>
          <tr>
            <th>Ticket Qty</th>
            <% if(summariesObj.tickets !== undefined){ %> <%
            summariesObj.tickets.forEach((ticket) => { %>
            <td><%= ticket.qty %></td>
            <% }) %>
          </tr>
          <tr>
            <th>Gross Amount</th>
            <% summariesObj.tickets.forEach((ticket) => { %>
            <td><%= ticket.grossAmount %></td>
            <% }) %> <% } %>
          </tr>
          <% } else { %>
          <header class="header">No Data yet, Please add Tickets first!</header>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
